<form name="clientDetailForm" class="form-horizontal">
       <fieldset>
           <legend>Client</legend>
           <div class="control-group">
               <label class="control-label" for="name">Nom</label>
               <div class="controls">
                   <input type="text" id="name" name="name" ng-model="account.name" required>
                   <span class="help-inline error" ng-show="clientDetailForm.name.$error.required">
                       Obligatoire
                   </span>
               </div>
           </div>

           <div class="control-group">
               <label class="control-label">Contacts: </label>
               <div class="controls">
                   <ul class="unstyled">
                       <li ng-repeat="contact in account.contacts">
                           <input ng-model="contact.email">
                           <a class="btn" ng-click="removeContact()">X</a>
                       </li>
                       <li>
                           <a class="btn" ng-click="account.contacts.push({})">+</a>
                       </li>
                   </ul>
               </div>
           </div>
       </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="save()">Enregistrer</button>
            <a href="/clients" class="btn">Annuler</a>
        </div>
</form>